.background {
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-wrap {
    width: 100%;
    max-width: 600px; /* Độ rộng tối đa của phần wrap */
    height: auto; /* Chiều cao của phần wrap bằng với body */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(40, 57, 101, 0.9); /* Màu nền với độ trong suốt */
    border-radius: 10px; /* Bo tròn góc */
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19); /* Đổ bóng */

    .login-html {
      width: 100%;
      max-width: 100%; /* Đảm bảo chiều rộng của login-html bằng với login-wrap */
      padding: 40px;
      border-radius: 10px;

      .tab {
        font-size: xx-large;
        color: #fff;
        margin-bottom: 10px;
      }
    }

    .login-form {
      width: 100%; /* Đảm bảo form đăng nhập lấp đầy login-html */
      min-height: 345px;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;

      .group {
        margin-bottom: 15px;

        .label {
          color: #fff;
          font-size: 13px;
          margin-bottom: 5px;
        }

        .input {
          width: 100%;
          color: #fff;
          display: block;
          border: none;
          padding: 15px 20px;
          border-radius: 25px;
          background: rgba(255, 255, 255, 0.1);
          position: relative;

          &.password {
            padding-right: 40px;
          }
        }

        .password-input-container {
          position: relative;

          .password-toggle-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #aaa;
          }
        }

        .button {
          width: 100%;
          background: #1161ee;
          border: none;
          padding: 15px 20px;
          border-radius: 25px;
          color: #fff;
          display: block;
          cursor: pointer;
          text-transform: uppercase;
          margin-top: 20px;
        }

        .hr {
          height: 2px;
          margin: 60px 0 50px 0;
          background: rgba(255, 255, 255, 0.2);
        }

        .foot-lnk {
          text-align: center;
          margin-top: 20px;

          a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
