.manage-product-container {
  margin: 20px;

  .title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .products-content {
    .table-products {
      font-size: 15px;
      margin-top: 5px;
    }
  }
}
