.header-navbar {
  background-color: rgb(96, 93, 93);
  opacity: 1;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand-title {
  margin-left: 5px;
  color: black;
}

.search-container {
  display: flex;
  width: 450px;
  margin: 0 auto;
  align-items: center;

  .form-control {
    flex: 1;
  }

  .btn {
    background-color: #f9bb01;
  }
}

.cart-container {
  position: relative;
  margin-right: 30px;
  margin-top: 5px;
  cursor: pointer;

  svg.icon-shopping-cart {
    height: 1.9em;
    width: 1.9em;
  }

  .badge {
    position: absolute;
    top: 0;
    start: 100%;
    transform: translate(-50%, -50%);
  }
}

.btn-light {
  margin-right: 10px;
}
