// CategoryList.scss

.category-list {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .header {
    display: flex;
    margin-bottom: 15px;

    svg {
      margin-right: 10px;
      font-size: 1.2rem;
      margin-top: 6px;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
      color: #333;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      button {
        display: block;
        width: 100%;
        padding: 10px;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
